<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Director-teacher profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#ededed;">
<div style="background-color:#337ab7;height:50px;">
	Class Diary
	<p> Nauczyciel (Dyrektor) <b th:text = "${email}"></b></p>
</div>

	<a href="/logout" class="active">Wyloguj</a>
	<a href="/director" class="active">Profil Dyrektora</a>
</body>
</html>